@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Manrope:wght@400;600;700;800&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orangeColor : #FF9900;
    --sansFont: 'DM Sans', sans-serif;
    --mainFont : 'Manrope', sans-serif;
    --paragraphColor: #31353B;
    --greyColor: #DADADA;
    --deepOrange : #F85A47;
}

.flex-align {
    display: flex;
    align-items: center;
}

header {
    margin-top: 2rem;
    width: 100vw;
}

.contents,
.partners {
    padding: 0 1.5rem;
}

.contents >div {
    padding-top: 6rem;
}

.orange {
    font-family: var(--sansFont);
    color: var(--orangeColor);
}

h1 {
    font-family: var(--mainFont);
    color: #000;
    margin: 1rem 0;
    font-weight: 800;
}

p {
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 0.9rem;
}

.info {
    color: var(--paragraphColor);
    font-size: 0.9rem;
}

.input-wrap {
    margin: 1rem 0 2rem; 
}

.input-wrap > div {
    border: 1px solid var(--greyColor);
    padding: 1rem;
}

.input-wrap input {
    outline: none;
    border: none;
}

.input-wrap input[placeholder]{
    font-family: var(--mainFont);
    font-weight: 400;
}

.search {
    background-color: var(--deepOrange);
    color: #fff;
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 0.7rem;
    height: 3.4rem;
    padding: 0 1rem;
}

.hero-img {
    width: 80%;
    margin-left: 1rem;
}

.hero-wrap {
    margin-top: 7rem;
}

.blue-bg {
    background-color: #C7FFFF;
    width: 70%;
    position: absolute;
    right: 0;
    height: 30rem;
    z-index: -2;
}

.blue-bg > div {
    width: 80%;
}

.social-media-icons{
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
}

.social-media-icons img {
    margin-bottom: 1rem;
    height: 1.2rem;
}

.partners{
    margin-top: 4rem;
}

.partners p {
    color: #31353B;
}

.partners > div {
    display: flex;
    flex-wrap: wrap;
}

.partners > div img {
    margin: 1rem 1.3rem 1rem 0 ;
}

/*main {
    padding: 0 1.5rem;
}*/

#works {
    padding: 5rem 1.5rem 2rem;
}

#works >div{
    margin: 1rem 0 3rem;
}

#works h2 {
    margin-bottom: 3rem;
}

h2,
.headline {
    font-family: var(--mainFont);
    font-weight: 600;
    text-align: center;
}

.icon-bg {
    width: 4rem;
    height: 4rem;
    border-radius: 15px;
    justify-content: center;
    margin: 0 auto 1.8rem;
}

.icon-bg img {
    height: 1.5rem;
}

.bg1 {
    background-color: #9672FF;
}

.bg2 {
    background-color: #4DDFFD;
}

.bg3 {
    background-color: #F2B8EC;
}

.headline {
   font-size: 1.05rem;
   margin-bottom: 0.5rem;
}

.notes {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #333;
}

#deals {
    padding: 0 1.5rem;  
}

#deals h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#deals p {
    text-align: center;
}

button {
    display: block;
    margin: 1rem auto 0;
    padding: 1rem 3rem;
    font-family: var(--mainFont);
    background-color: var(--deepOrange);
    border: none;
    color: #fff;
}

#deals button,
.blue-bg2 button {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.properties {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0 1rem 0;
}

.properties li {
    margin: 0 0.6rem 2rem 0;
}

.properties li a {
    font-family: var(--mainFont);
    font-weight: 400;
}

#one{
    color: var(--deepOrange);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--deepOrange);
}

#deals img {
    width: 100%;
    height: auto;
    margin: 0 auto 1.5rem;
}

#feature {
    font-size: 1.8rem;
    margin: 2.5rem 0 1.5rem;
}

.blue-bg2 {
    background-color: #F1FFFF;
    width: 100vw;
    padding: 3rem 0;
    margin-bottom: 4rem;
}

.prop-img1{
    width: 90%;
    margin: auto;
    display: block;
    z-index: -2;
}

.prop-img2 {
    width: 75%;
    margin: -4rem auto 0;
    display: block;
}

#collect {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.property-details {
    padding: 0 1.5rem;
}

.convey {
    margin-bottom: 2rem;
}

.details {
    display: grid;
    grid-template-columns: auto auto auto;
}

.details >div{
    margin-bottom: 1.5rem;
}

.point {
    font-weight: 700;
    margin-bottom: 5px;
}

#reviews {
    padding: 0 1.5rem;
}

.box {
    border: 1px solid var(--greyColor);
    border-radius: 7px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.box > p {
    margin: 2rem 0 4rem;
}

.person img {
    margin-right: 1.5rem;
}

.name {
    font-weight: 700;
    margin-bottom: 5px;
}

#reviews h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.part2 {
    margin: 3rem 0;
}

.part2 p {
    text-align: center;
    margin-top: 1rem;
}

.part2 p a {
    text-decoration: none;
    color: #2CBDE7;
    border-bottom: 1px solid #2CBDE7;
}

footer {
    background-color: #FBFCFC;
}

footer > div {
    padding: 6rem 1.5rem;
}

footer h2 {
    font-size: 2.2rem;
}

.join {
    font-size: 1.2rem;
    margin-top: 5px;
}

footer .input-wrap {
    background-color: #fff;
    height: 4rem;
    justify-content: space-around;
}

.line {
    background-color: var(--greyColor);
    width: auto;
    height: 1px;
    margin-top: 6rem;
}

footer button {
    margin: unset;
    padding: 0.7rem 1.5rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

footer ul li {
    padding-right: 2rem;
    margin-bottom: 1rem;
}

footer img {
    margin: 2rem 0;
}

footer ul li a {
    text-decoration: none;
    color:var(--paragraphColor);
    font-family: var(--sansFont);
    border-bottom: 2px solid var(--paragraphColor);

}
